html, body { 
  height:100%; 
  padding:0;
  margin:0;
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width: 90%;
	height: 438px;
	margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #fff;
}
.redeemblock{
	width: 90%;
	margin: auto;
}
.redeemright{
	float: right;
	margin-bottom: 6px !important;
}
.redeemblock button{
margin: 15px 0px 0px 0px;
font-size: 18px;
}

.carousel-demo {
    margin-top:10px;
    display:inline-block;
    text-align: center;
	width:100%;
}
.carousel-demo h1{
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
	text-transform: uppercase;
	word-break: break-word;
	margin-top: 0px;
	margin-bottom: 5px;
}
.carousel-demo h2{
	margin: 0px;
	font-size: 17px;
	text-align: left;
	text-transform:capitalize;
}
.carousel-demo h5{
	margin: 4px 0px;
	font-size: 13px;
	text-align: left;
}
.carousel-demo h6{
	margin: 0px;
	text-align: left;
	font-size: 13px;
	word-break: break-word;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.3s ease-in;
}
.custom-indicator span.active {
  color:yellow !important;
}
